* {
  padding: 0;
  margin: 0;
  font-size: 18px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.input__wrapper {
  position: relative;
}

.inputBox {
  width: 300px;
  height: 36px;
  border: 1px solid #E1E1E1;
  border-radius: 3px;
}

.inputBox .input {
  width: 100%;
  height: 100%;
  line-height: 36px;
  padding-left: 10px;
  border-radius: 3px;
}

.inputBox .input::after {
  content: "";
  background: url("../images/arrow-down.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 8px;
  width: 13px;
  right: 15px;
  top: 14px;
  transition: all .8s;
}

.inputBox .optionsContainer {
  position: absolute;
  top: 100%;
  display: none;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.08);
  border: 1px solid #D6E2F5;
  border-radius: 3px;
  margin-top: 10px;
}

.inputBox .optionsContainer.active {
  display: block;
}

.inputBox .optionsContainer .option {
  display: flex;
  align-items: center;
  padding: 5px 2px;
}

.inputBox .optionsContainer .option:hover {
  background: #F4F7FB;
}

.inputBox .optionsContainer .option.chosen {
  font-weight: 600;
  color: #00447C;
  position: relative;
}

.inputBox .optionsContainer .option.chosen::after {
  content: "";
  background: url("../images/check.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 10px;
  width: 14px;
  right: 15px;
}

.inputBox .optionsContainer .option.hidden {
  display: none;
}

.inputBox .optionsContainer .option .profilePicture {
  height: 30px;
  width: 30px;
  margin: 5px 13px 5px 7px;
  border-radius: 50%;
}

body .wrapper .inputBox .optionsContainer.active + .input::after {
  transform: rotateX(180deg);
}

.inputBox .searchBox {
  display: flex;
  align-items: center;
  padding: 7px 8px;
  width: 100%;
  border-bottom: 1px solid #D6E2F5;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.inputBox .searchBox input {
  width: 100%;
  padding: 6px 12px;
  border: none;
}

.inputBox .searchBox input:focus {
  outline: none;
}

.inputBox .searchBox .searchIcon {
  height: 29px;
  width: 29px;
  padding: 8px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.inputBox .option, 
.inputBox .input {
  cursor: pointer;
}

.label {
  position: absolute;
  transform: translate(8px, -50%);
  background-color: #fff;
  font-size: 12px;
  padding: 0 4px;
  top: 0;
  color: #00447C;
  display: none;
}

.inputBox.showLabel .label {
  display: block;
}